.sliderShow {
	font-size: 1em;
	width: 960px;
	border-radius: 5px;
	padding-top: 27px;
	padding-bottom: 35px;
	margin: auto;
	position: relative;
	clear: both
}

/*-----------------------------------------------*/
/*-------------    Product Viewer  -------------*/
/*---------------------------------------------*/

/* navigation */
#prod_wrapper {
	border-bottom: 1px solid #e3e3e3;
	height: 491px;
	padding: 0
}

#prod_nav {
	height: 156px;
	width: 960px;
	margin: auto
}

#prod_nav ul {
	width: 960px;
	margin: 0 auto;
}

#prod_nav li {
	float: left;
	width: 192px;
	list-style-type: none;
	text-align: center;
}

#prod_nav a {
	color: #333333;
	display: block;
	padding: 10px 0 45px;
	position: relative;
	word-spacing: -2px;
	font-size: 11px;
	height: 110px;
	text-decoration: none;
}

#prod_nav a.current {
	background: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	float: none;
	margin: 0;
	border-bottom: 3px solid #6ca6ce;
}

#prod_nav img {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 3px 0 5px 10px;
	padding: 4px;
	display: block;
}

#prod_nav strong {
	display: block;
}

/* panes */
#panes {
	width: 960px;
	margin: auto;
	height: 300px;
	margin-bottom: -20px;
	padding-bottom: 20px;
	/* must be relative so the individual panes can be absolutely positioned */
	position: relative;
}

#panes div {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 14px;
	color: #444;
	width: 945px;
	padding-right: 15px
}

#panes img {
	float: left;
	margin-right: 20px;
	width: 465px;
	height: 300px;
	border: 1px solid #AAAAAA;
}

#panes p.more {
	color: #000;
	font-weight: bold;
}

#panes h5 {
	margin: 0 0 10px 0;
	font-size: 22px;
	font-weight: normal;
	display: inline-block
}