<div>
	<div id="footer">

		<!-- 960 Container -->
		<div class="container">

			<!--  Text Widget - 1/3 Columns -->
			<div class="five columns">
				<div id="footer-logo">
					<img src="${logoUrl}" />
				</div>
				<p>Sensation is an incredibly beautiful responsive HTML
					Template. Nunceasle ullamacorper comodore semas placea.</p>
				<ul class="social">
					<li class="facebook"><a href="#"></a></li>
					<li class="twitter"><a href="#"></a></li>
					<li class="vimeo"><a href="#"></a></li>
					<li class="linked"><a href="#"></a></li>
					<li class="flickr"><a href="#"></a></li>
				</ul>
			</div>

			<!--  Latest Tweets - 1/3 Columns -->
			<div class="five columns">
				<h4>相关网站</h4>
			</div>

			<!--  Contact - 1/3 Columns -->
			<div class="five columns">
				<h4>联系方式</h4>
				<div class="address">
					<img style="padding-top: 2px" src="${addressUrl}" /><strong>地址:</strong>
					上海市延安西路383号100楼555室
				</div>
				<div class="address">
					<img style="padding-top: 2px" src="${phoneUrl}" /><strong>电话:</strong>
					+44 (0) 00000000
				</div>
				<div class="address">
					<img style="padding-top: 2px" src="${mailUrl}" /><strong>Email:</strong>
					cbwsnr@163.com
				</div>
			</div>

		</div>
		<!-- End 960 Container -->
	</div>

	<!--  Footer - Copyright-->
	<div id="footer_bottom">
		<!-- 960 Container -->
		<div class="container">
			<div class="copyright">
				© Copyright 2014 by <span>Talk2Js</span>. All Rights Reserved.
			</div>
		</div>
		<!-- End 960 Container -->
	</div>
</div>